<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>568169801155-o5o1mppq0lq2rns93hrq6tdeejqtsggg.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.568169801155-o5o1mppq0lq2rns93hrq6tdeejqtsggg</string>
		<key>API_KEY</key>
		<string>AIzaSyAX942GQAZeDoembGU3ypfI6AiFD3cCovM</string>
		<key>GCM_SENDER_ID</key>
		<string>568169801155</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.pryvee.master</string>
		<key>PROJECT_ID</key>
		<string>pryvee-b9595</string>
		<key>STORAGE_BUCKET</key>
		<string>pryvee-b9595.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:568169801155:ios:f3c925c9f06e105ff28976</string>
	</dict>
</plist>